Repository intel-analytics/analytics-zoo, pull requests merged in 2019-12, with the labels that each got.

#1821 Add uri to get_predicts in TextSet
  pyzoo/test/zoo/feature/text/test_text_set.py
  pyzoo/zoo/examples/streaming/textclassification/streaming_text_classification.py
  pyzoo/zoo/examples/textclassification/text_classification.py
  pyzoo/zoo/feature/text/text_set.py
  zoo/src/main/scala/com/intel/analytics/zoo/examples/textclassification/TextClassification.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/python/PythonTextFeature.scala
Labels: text

#1557 Support multiple optimMethods in TFTrainingHelper
  pyzoo/test/zoo/tfpark/test_tfpark_tfoptimizer.py
  pyzoo/zoo/pipeline/api/net/tf_optimizer.py
  pyzoo/zoo/pipeline/api/net/utils.py
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/api/net/TFTrainingHelper.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/api/net/TFTrainingHelper2.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/estimator/python/PythonEstimator.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/api/keras/serializer/SerializerSpecHelper.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/api/net/TFNetSpec.scala
Labels: tensorflow

#1823 Fix Code scan image_path_writer random & os access
  pyzoo/zoo/common/utils.py
  pyzoo/zoo/examples/streaming/objectdetection/image_path_writer.py
Labels: help wanted

#1837 Remove default mkl settings when start ray
  pyzoo/zoo/ray/util/raycontext.py
Labels: ray

#1842 build docker for automl branch
  docker/zoo/Dockerfile
Labels: automl

#1853 update example notebook
  apps/automl/nyc_taxi_dataset.ipynb
  pyzoo/zoo/automl/regression/time_sequence_predictor.py
Labels: automl
