Repository intel-analytics/analytics-zoo, pull requests merged in 2019-03, with the labels that each got.

#1181 Update pip release script
  pyzoo/dev/release/release.sh
Labels: release

#916 [test]recommendation-wide-n-deep/sentiment analysis
  apps/run-app-tests-pip.sh
Labels: test

#1235 Enhance TextSet wordIndex API
  pyzoo/test/zoo/feature/text/test_text_set.py
  pyzoo/zoo/feature/common.py
  pyzoo/zoo/feature/text/text_set.py
  zoo/src/main/scala/com/intel/analytics/zoo/feature/common/Relations.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/python/PythonTextFeature.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/text/TextSet.scala
  zoo/src/test/scala/com/intel/analytics/zoo/feature/text/TextSetSpec.scala
Labels: text

#1141 add qaranker into Scala integration
  zoo/src/test/integration-test.robot
Labels: test
