Repository intel-analytics/analytics-zoo, pull requests merged in 2019-05, with the labels that each got.

#1258 add inference examples for flink and spark, batch and streaming
  apps/model-inference-examples/README.md
  apps/model-inference-examples/model-inference-flink/pom.xml
  apps/model-inference-examples/model-inference-flink/src/main/scala/com/intel/analytics/zoo/apps/model/inference/flink/TextClassificationInferenceModel.scala
  apps/model-inference-examples/model-inference-flink/src/main/scala/com/intel/analytics/zoo/apps/model/inference/flink/TextClassificationStreaming.scala
  apps/model-inference-examples/model-inference-flink/src/main/scala/com/intel/analytics/zoo/apps/model/inference/flink/TextProcessor.scala
  apps/model-inference-examples/recommendation-inference/README.md
  apps/model-inference-examples/recommendation-inference/pom.xml
  apps/model-inference-examples/recommendation-inference/src/main/java/com/intel/analytics/zoo/apps/recommendation/inference/NueralCFJModel.java
  apps/model-inference-examples/recommendation-inference/src/main/java/com/intel/analytics/zoo/apps/recommendation/inference/SimpleDriver.java
  apps/model-inference-examples/recommendation-inference/src/main/java/com/intel/analytics/zoo/apps/recommendation/inference/UserItemPair.java
  apps/model-inference-examples/recommendation-inference/src/main/scala/com/intel/analytics/zoo/apps/recommendation/inference/NueralCFModel.scala
  apps/model-inference-examples/recommendation-inference/src/main/scala/com/intel/analytics/zoo/apps/recommendation/inference/SimpleScalaDriver.scala
  apps/model-inference-examples/text-classification-inference/pom.xml
  apps/model-inference-examples/text-classification-inference/src/main/java/com/intel/analytics/zoo/apps/textclassfication/inference/SimpleDriver.java
  apps/model-inference-examples/text-classification-inference/src/main/java/com/intel/analytics/zoo/apps/textclassfication/inference/TextClassificationModel.java
  apps/model-inference-examples/text-classification-inference/src/main/java/com/intel/analytics/zoo/apps/textclassfication/inference/TextProcessor.java
  apps/model-inference-examples/text-classification-inference/src/main/java/com/intel/analytics/zoo/apps/textclassfication/inference/WebServiceController.java
  apps/model-inference-examples/text-classification-inference/src/main/java/com/intel/analytics/zoo/apps/textclassfication/inference/WebServiceDriver.java
  apps/model-inference-examples/text-classification-training/pom.xml
  apps/model-inference-examples/text-classification-training/src/main/scala/com/intel/analytics/zoo/apps/textclassfication/processing/JTextProcessing.scala
  apps/model-inference-examples/text-classification-training/src/main/scala/com/intel/analytics/zoo/apps/textclassfication/processing/TextProcessing.scala
  apps/model-inference-examples/text-classification-training/src/main/scala/com/intel/analytics/zoo/apps/textclassfication/training/TextClassificationTrainer.scala
Labels: inference

#1300 Add README for BigDL VNNI examples
  zoo/src/main/scala/com/intel/analytics/zoo/examples/imageclassification/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/objectdetection/inference/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/tfnet/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/ImageNetEvaluation.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/Perf.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/README.md
Labels: vnni

#1137 add recommenders in Keras style
  apps/recommendation-ncf/README.md
  apps/recommendation-ncf/ncf-explicit-feedback.ipynb
  apps/recommendation-wide-n-deep/README.md
  apps/recommendation-wide-n-deep/wide_n_deep.ipynb
  pyzoo/test/zoo/models/recommendation/test_neuralcf.py
  pyzoo/test/zoo/models/recommendation/test_wideanddeep.py
  pyzoo/zoo/models/common/zoo_model.py
  pyzoo/zoo/models/recommendation/neuralcf.py
  pyzoo/zoo/models/recommendation/recommender.py
  pyzoo/zoo/models/recommendation/utils.py
  pyzoo/zoo/models/recommendation/wide_and_deep.py
  zoo/src/main/scala/com/intel/analytics/zoo/examples/recommendation/Ml1mWideAndDeep.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/recommendation/NeuralCFexample.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/recommendation/WideAndDeepExample.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/python/PythonZooModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/recommendation/.keep
  zoo/src/main/scala/com/intel/analytics/zoo/models/recommendation/NeuralCF.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/recommendation/Recommender.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/recommendation/Utils.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/recommendation/WideAndDeep.scala
  zoo/src/test/scala/com/intel/analytics/zoo/models/recommendation/.keep
  zoo/src/test/scala/com/intel/analytics/zoo/models/recommendation/NeuralCFSpec.scala
  zoo/src/test/scala/com/intel/analytics/zoo/models/recommendation/WideAndDeepSpec.scala
Labels: help wanted

#1291 Support OpenVINO ResNet50-int8 model with Inference Model
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/openvino/ImageNetEvaluation.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/openvino/Perf.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/openvino/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/openvino/README.md
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/openvino/VINOPerf.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/OpenVinoInferenceSupportive.scala
Labels: vnni
