Repository intel-analytics/analytics-zoo, pull requests merged in 2019-04, with the labels that each got.

#1259 Fix re-download nlp-architect every time when make_dist
  .gitignore
  pyzoo/dev/prepare_env.sh
  scripts/get_python_packages
  zoo/pom.xml
  zoo/src/assembly/python-zip.xml
Labels: enhancement

#1266 Fix wordIndex for HDFS and add save to text examples
  pyzoo/zoo/examples/qaranker/README.md
  pyzoo/zoo/examples/qaranker/qa_ranker.py
  pyzoo/zoo/examples/textclassification/README.md
  pyzoo/zoo/examples/textclassification/text_classification.py
  zoo/src/main/scala/com/intel/analytics/zoo/examples/qaranker/QARanker.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/qaranker/README.md
  zoo/src/main/scala/com/intel/analytics/zoo/examples/textclassification/README.md
  zoo/src/main/scala/com/intel/analytics/zoo/examples/textclassification/TextClassification.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/text/TextSet.scala
Labels: text

#1255 add auto-scaling to InferenceModel
  zoo/src/main/java/com/intel/analytics/zoo/pipeline/inference/AbstractInferenceModel.java
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/FloatModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/InferenceModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/InferenceModelFactory.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/InferenceSupportive.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/inference/FloatModelSpec.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/inference/InferenceModelSpec.scala
Labels: inference

#1265 Support ResNet50-int8 model in ImageClassifier
  pyzoo/zoo/feature/image/imagePreprocessing.py
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/ImageNetInference.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/Perf.scala
  zoo/src/main/scala/com/intel/analytics/zoo/examples/vnni/bigdl/Predict.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/image/ImageChannelScaledNormalizer.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/image/ImageRandomCropper.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/image/ImageRandomResize.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/image/ImageSet.scala
  zoo/src/main/scala/com/intel/analytics/zoo/feature/image/ImageSetToSample.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/image/common/ImageModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/image/imageclassification/ImageClassificationConfig.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/image/imageclassification/ImageClassifier.scala
  zoo/src/main/scala/com/intel/analytics/zoo/models/image/imageclassification/LabelOutput.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/api/keras/layers/utils/Reflection.scala
Labels: vnni
