Repository intel-analytics/analytics-zoo, pull requests merged in 2020-01, with the labels that each got.

#1777 add ppl.get_default_configs
  pyzoo/test/zoo/automl/pipeline/test_time_sequence.py
  pyzoo/zoo/automl/pipeline/time_sequence.py
Labels: automl

#1781 change the way of model selection to hyper-parameter search
  pyzoo/test/zoo/automl/pipeline/test_time_sequence.py
  pyzoo/zoo/automl/model/Seq2Seq.py
  pyzoo/zoo/automl/model/VanillaLSTM.py
  pyzoo/zoo/automl/model/time_sequence.py
  pyzoo/zoo/automl/pipeline/time_sequence.py
  pyzoo/zoo/automl/regression/time_sequence_predictor.py
Labels: automl

#1857 add pytorch version Vanilla LSTM model
  pyzoo/zoo/automl/model/VanillaLSTM_pytorch.py
Labels: automl

#1881 Add Pytorch seq2seq model
  pyzoo/zoo/automl/model/Seq2Seq_pytorch.py
Labels: automl

#1925 Remove python2.7 and spark1.6 in doc
  apps/anomaly-detection-hd/README.md
  apps/anomaly-detection/README.md
  apps/dogs-vs-cats/README.md
  apps/image-augmentation-3d/README.md
  apps/image-augmentation/README.md
  apps/image-similarity/README.md
  apps/object-detection/README.md
  apps/pytorch/README.md
  apps/ray/parameter_server/README.md
  apps/recommendation-ncf/README.md
  apps/recommendation-wide-n-deep/README.md
  apps/sentiment-analysis/README.md
  apps/tfnet/README.md
  apps/variational-autoencoder/README.md
  docs/docs/DeveloperGuide/python.md
  docs/docs/ProgrammingGuide/visualization.md
  docs/docs/PythonUserGuide/install.md
  docs/docs/PythonUserGuide/python-faq.md
  docs/docs/PythonUserGuide/run.md
  docs/docs/README.md
  pyzoo/zoo/examples/streaming/README.md
  pyzoo/zoo/examples/streaming/objectdetection/README.md
  pyzoo/zoo/examples/streaming/textclassification/README.md
Labels: document

#1922 Add apps Auto Test
  apps/ray/parameter_server/sharded_parameter_server.ipynb
  apps/run-app-tests-pip.sh
  apps/run-app-tests.sh
Labels: release, test
