Repository intel-analytics/analytics-zoo, pull requests merged in 2020-06, with the labels that each got.

#2457 [OpenVINO] Remove OpenVINO Model Optimizer from Zoo
  pyzoo/test/zoo/pipeline/inference/test_inference_model.py
  pyzoo/zoo/pipeline/inference/inference_model.py
  zoo/src/main/java/com/intel/analytics/zoo/pipeline/inference/AbstractInferenceModel.java
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/InferenceModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/InferenceModelFactory.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/OpenVinoInferenceSupportive.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/PythonInferenceModel.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/inference/README.md
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/inference/OpenVINOInt8DeprecatedSuite.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/inference/OpenVINOModelDeprecatedSuite.scala
Labels: openvino

#2418 zouwu lstm/mtnet forecaster interface change
  docs/docs/APIGuide/AutoML/recipe.md
  docs/docs/Zouwu/tutorial.md
  pyzoo/test/zoo/zouwu/test_auto_ts.py
  pyzoo/test/zoo/zouwu/test_model_forecast.py
  pyzoo/zoo/automl/config/recipe.py
  pyzoo/zoo/automl/model/MTNet_keras.py
  pyzoo/zoo/automl/model/VanillaLSTM.py
  pyzoo/zoo/zouwu/model/forecast.py
  pyzoo/zoo/zouwu/use-case/network_traffic/network_traffic_autots_forecasting.ipynb
  pyzoo/zoo/zouwu/use-case/network_traffic/network_traffic_model_forecasting.ipynb
  scripts/data/NAB/nyc_taxi/get_nyc_taxi.sh
Labels: zouwu

#2398 refine docs for MTNet and LSTM
  docs/docs/Image/ZouwuModel/LSTM.png
  docs/docs/Image/ZouwuModel/MTnet_1.png
  docs/docs/Image/ZouwuModel/MTnet_2.png
  docs/docs/Zouwu/API/LSTMForecaster.md
  docs/docs/Zouwu/API/MTNetForecaster.md
  docs/docs/Zouwu/Algorithm/LSTMAlgorithm.md
  docs/docs/Zouwu/Algorithm/MTNetAlgorithm.md
  docs/mkdocs.yml
Labels: automl, zouwu

#2374 add latest anomaly notebook in zouwu
  apps/run-app-tests-pip.sh
  pyzoo/zoo/zouwu/use-case/AIOps/AIOps_anomaly_detect.ipynb
  pyzoo/zoo/zouwu/use-case/AIOps/README.md
  pyzoo/zoo/zouwu/use-case/AIOps/extract_data.sh
  pyzoo/zoo/zouwu/use-case/AIOps/get_data.sh
Labels: zouwu

#2495 Change MXNetTrainer to Estimator and remove RDD from plasma after training finishes
  pyzoo/test/zoo/orca/data/test_spark_pandas.py
  pyzoo/test/zoo/orca/learn/mxnet/test_mxnet_gluon.py
  pyzoo/test/zoo/orca/learn/mxnet/test_mxnet_ray_xshards.py
  pyzoo/test/zoo/orca/learn/mxnet/test_mxnet_spark_xshards.py
  pyzoo/test/zoo/orca/learn/mxnet/test_mxnet_symbol.py
  pyzoo/zoo/examples/orca/learn/mxnet/lenet_mnist.py
  pyzoo/zoo/orca/data/pandas/preprocessing.py
  pyzoo/zoo/orca/data/shard.py
  pyzoo/zoo/orca/learn/mxnet/__init__.py
  pyzoo/zoo/orca/learn/mxnet/mxnet_runner.py
  pyzoo/zoo/orca/learn/mxnet/mxnet_trainer.py
  pyzoo/zoo/orca/learn/mxnet/utils.py
Labels: mxnet, orca

#2510 Spark backend for reading csv/json
  pyzoo/test/zoo/orca/data/conftest.py
  pyzoo/test/zoo/orca/data/test_spark_pandas.py
  pyzoo/zoo/common/nncontext.py
  pyzoo/zoo/orca/data/pandas/preprocessing.py
Labels: orca
