Repository intel-analytics/analytics-zoo, pull requests merged in 2021-08, with the labels that each got.

#4321 Add repo_dataset for tsdata
  pyzoo/zoo/chronos/data/repo_dataset.py
  pyzoo/zoo/chronos/data/utils/public_dataset.py
Labels: chronos

#4361 delete the csv file in chronos/quickstart
  pyzoo/zoo/chronos/examples/lstm/autolstm_nyc_taxi.py
  pyzoo/zoo/chronos/examples/quickstart/autots_nyc_taxi.py
  pyzoo/zoo/chronos/examples/quickstart/nyc_taxi.csv
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos

#4376 Chronos: change inference code in pytorch base model to use no_grad
  pyzoo/zoo/automl/model/base_pytorch_model.py
Labels: chronos

#4244 Fix the error message of tsdata call sequence
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/feature.py
Labels: chronos

#4384 Chronos Evaluator/Metrics API doc
  docs/readthedocs/source/doc/PythonAPI/AutoML/automl.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/index.rst
  pyzoo/test/zoo/automl/common/test_metrics.py
  pyzoo/zoo/automl/common/metrics.py
Labels: automl, chronos

#4401 Chronos: fix tsppl evaluation not aligned problem
  pyzoo/zoo/chronos/autots/experimental/tspipeline.py
Labels: chronos

#4407 Chronos: shrink the tsfresh ut
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
Labels: bug, chronos

#4362 Chronos: distributed fashion TSDataset (XShardTSDataset) first push
  pyzoo/test/zoo/chronos/data/experimental/__init__.py
  pyzoo/test/zoo/chronos/data/experimental/test_xshardstsdataset.py
  pyzoo/test/zoo/chronos/model/anomaly/test_th_detector.py
  pyzoo/test/zoo/resources/chronos/multiple.csv
  pyzoo/test/zoo/resources/chronos/single.csv
  pyzoo/zoo/chronos/data/experimental/__init__.py
  pyzoo/zoo/chronos/data/experimental/utils.py
  pyzoo/zoo/chronos/data/experimental/xshards_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/utils.py
Labels: chronos

#4419 Chronos: fix autoest/autotsest resource issue(pytorch)
  pyzoo/zoo/automl/model/base_pytorch_model.py
  pyzoo/zoo/automl/search/ray_tune_search_engine.py
Labels: chronos

#4402 Add TSDataset.to_torch_data_loader
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_roll_dataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/roll_dataset.py
  pyzoo/zoo/chronos/data/utils/utils.py
Labels: chronos

#4128 Add 3 features to table.py
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/zoo/friesian/feature/table.py
Labels: friesian

#4343 add transform min_max scale
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/test/zoo/resources/friesian/feature/parquet/data3.parquet/part-00021-cd294313-1c4b-4315-bf08-708552e8ed08-c000.snappy.parquet
  pyzoo/test/zoo/resources/friesian/feature/parquet/data3.parquet/part-00028-cd294313-1c4b-4315-bf08-708552e8ed08-c000.snappy.parquet
  pyzoo/test/zoo/resources/friesian/feature/parquet/data3.parquet/part-00035-cd294313-1c4b-4315-bf08-708552e8ed08-c000.snappy.parquet
  pyzoo/zoo/friesian/feature/table.py
Labels: friesian

#4424 Chronos: shrink/remove possible problems in tsfresh uts
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_feature.py
Labels: bug, chronos

#4423 Add parallel parameter for tsfresh functions
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/feature.py
Labels: chronos

#4300 Colab quick start for experimental autots
  docs/docs/colab-notebook/chronos/chronos_experimental_autots_nyc_taxi.ipynb
  docs/docs/colab-notebook/run-notebook-pytorch.sh
Labels: chronos

#4421 Improve some tests of tsdataset
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_roll.py
Labels: chronos

#4443 Optimize memory for tsdataset.to_torch_data_loader and fix index
  pyzoo/zoo/chronos/data/utils/roll_dataset.py
Labels: chronos

#4393 Chronos: Base Forecaster interface to unify dl forecaster's api and behavior
  docs/docs/colab-notebook/chronos/chronos_nyc_taxi_tsdataset_forecaster.ipynb
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
  pyzoo/test/zoo/chronos/model/anomaly/test_th_detector.py
  pyzoo/test/zoo/chronos/model/forecast/test_lstm_forecaster.py
  pyzoo/test/zoo/chronos/model/forecast/test_seq2seq_forecaster.py
  pyzoo/test/zoo/chronos/model/forecast/test_tcn_forecaster.py
  pyzoo/zoo/chronos/model/forecast/base_forecaster.py
  pyzoo/zoo/chronos/model/forecast/lstm_forecaster.py
  pyzoo/zoo/chronos/model/forecast/seq2seq_forecaster.py
  pyzoo/zoo/chronos/model/forecast/tcn_forecaster.py
  pyzoo/zoo/chronos/model/forecast/utils.py
  pyzoo/zoo/chronos/model/tcn.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_model_forecasting.ipynb
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: chronos

#4463 Chronos: fix fsi notebook error
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction.ipynb
Labels: bug, chronos

#4455 Enhance tsdataset split function
  pyzoo/zoo/chronos/data/utils/split.py
Labels: chronos

#4426 Chronos: Revision on the forecasting section (concepts and forecaster) in Chronos user guide
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/requirements-rtd.txt
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Chronos/Image/forecast-RR.png
  docs/readthedocs/source/doc/Chronos/Image/forecast-TS.png
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, chronos

#4451 when the data is int dtype,fixed the issue of roll crash
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/roll.py
Labels: chronos

#4479 add ut for to_torch_load
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
Labels: chronos

#4493 deploy dllib
  scala/common/spark-version/2.0/pom.xml
  scala/common/utils/pom.xml
  scala/common/utils/src/test/scala/com/intel/analytics/bigdl/utils/EngineSpec.scala
  scala/common/utils/src/test/scala/com/intel/analytics/bigdl/utils/ThreadPoolSpec.scala
  scala/dllib/pom.xml
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/feature/dataset/MiniBatch.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/feature/dataset/Transformer.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/keras/KerasLayer.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/keras/Topology.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/optim/Optimizer.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/python/api/PythonBigDLKeras.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/python/api/PythonBigDLOnnx.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/python/api/PythonBigDLValidator.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/serializer/ModuleSerializable.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/serializer/ModuleSerializer.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/serializer/Types.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/utils/serializer/converters/DataConverter.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/nn/DynamicGraphSpec.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/nn/ops/TensorArraySplitSpec.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/nn/tf/ControlOpsSpec.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/utils/serializer/DataConverterSpec.scala
  scala/scalastyle_config.xml
  scala/scripts/deploy-spark2.sh
  scala/scripts/deploy-spark3.sh
Labels: dllib

#4539 Chronos: add Xshardstsdataset api doc and fix the api doc bug due to the numpy
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/doc/PythonAPI/Chronos/tsdataset.rst
Labels: document, chronos

#4505 Chronos: forecaster onnx sess thread limit and other settings
  pyzoo/test/zoo/chronos/model/forecast/test_lstm_forecaster.py
  pyzoo/test/zoo/chronos/model/forecast/test_seq2seq_forecaster.py
  pyzoo/test/zoo/chronos/model/forecast/test_tcn_forecaster.py
  pyzoo/zoo/automl/model/base_pytorch_model.py
  pyzoo/zoo/chronos/model/forecast/base_forecaster.py
Labels: chronos

#4573 Chronos: add AutoTSEstimator quickstart to doc
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
  docs/readthedocs/source/index.rst
Labels: chronos

#4496 Chronos: overhaul on prophet forecaster and autoprophet
  pyzoo/test/zoo/chronos/autots/model/test_auto_prophet.py
  pyzoo/test/zoo/chronos/model/forecast/test_prophet_forecaster.py
  pyzoo/test/zoo/chronos/model/test_prophet.py
  pyzoo/zoo/chronos/autots/model/auto_prophet.py
  pyzoo/zoo/chronos/model/forecast/prophet_forecaster.py
  pyzoo/zoo/chronos/model/prophet.py
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction_prophet.ipynb
Labels: chronos

#4513 Fix and support autots run in cluster
  pyzoo/zoo/automl/common/util.py
  pyzoo/zoo/automl/search/ray_tune_search_engine.py
  pyzoo/zoo/chronos/autots/experimental/autotsestimator.py
  pyzoo/zoo/chronos/autots/model/auto_arima.py
  pyzoo/zoo/chronos/autots/model/auto_lstm.py
  pyzoo/zoo/chronos/autots/model/auto_prophet.py
  pyzoo/zoo/chronos/autots/model/auto_seq2seq.py
  pyzoo/zoo/chronos/autots/model/auto_tcn.py
  pyzoo/zoo/orca/automl/auto_estimator.py
Labels: chronos
