Repository intel-analytics/analytics-zoo, pull requests merged in 2021-01, with the labels that each got.

#3287 Update doc for orca context
  docs/readthedocs/Orca/Overview/orca-context.md
  pyzoo/zoo/common/nncontext.py
  pyzoo/zoo/orca/common.py
  pyzoo/zoo/orca/learn/pytorch/torch_runner.py
Labels: document

#3330 Update readthedocs Python user guide
  readthedocs/source/doc/UserGuide/python.md
Labels: document

#3298 [Draft] Colab-notebook Lenet mnist graph
  docs/docs/Orca/orca-tf-quickstart.md
  docs/docs/colab-notebook/orca/quickstart/tf_lenet_mnist.ipynb
  docs/docs/colab-notebook/run-notebook-test.sh
  pyzoo/zoo/examples/orca/learn/tf/lenet/lenet_mnist_graph.py
  readthedocs/source/doc/Orca/QuickStart/orca-tf-quickstart.md
Labels: colab

#3327 orca overview doc tf and pytorch section
  readthedocs/source/doc/Orca/Overview/distributed-training-inference.md
Labels: document, orca

#3328 add orca user guide developer guide
  readthedocs/source/doc/UserGuide/develop.md
Labels: document, orca

#3312 colab-notebook mnist keras
  docs/docs/Orca/orca-keras-quickstart.md
  docs/docs/colab-notebook/orca/quickstart/keras_lenet_mnist.ipynb
  docs/docs/colab-notebook/run-notebook-test.sh
  pyzoo/zoo/examples/orca/learn/tf/lenet/README.md
  pyzoo/zoo/examples/orca/learn/tf/lenet/__init__.py
  pyzoo/zoo/examples/orca/learn/tf/lenet/lenet_mnist_keras.py
  readthedocs/source/doc/Orca/QuickStart/orca-keras-quickstart.md
Labels: colab

#3336 Update readthedocs Hadoop user guide
  readthedocs/source/doc/Orca/Overview/orca-context.md
  readthedocs/source/doc/UserGuide/hadoop.md
  readthedocs/source/doc/UserGuide/python.md
Labels: document

#3353 Colab pytorch mnist
  docs/docs/Orca/orca-pytorch-quickstart.md
  docs/docs/colab-notebook/orca/quickstart/pytorch_lenet_mnist.ipynb
  pyzoo/zoo/examples/orca/learn/pytorch/mnist/README.md
  pyzoo/zoo/examples/orca/learn/pytorch/mnist/__init__.py
  pyzoo/zoo/examples/orca/learn/pytorch/mnist/lenet_mnist.py
  readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
Labels: colab

#3387 TF2 quickstart
  docs/docs/colab-notebook/orca/quickstart/tf2_keras_lenet_mnist.ipynb
  docs/docs/colab-notebook/run-notebook-test-tf2.sh
  readthedocs/source/doc/Orca/QuickStart/orca-tf2-quickstart.md
Labels: document

#3059 Implement super-resolution on Orca with pytorch backend
  pyzoo/zoo/examples/orca/learn/pytorch/super_resolution/README.md
  pyzoo/zoo/examples/orca/learn/pytorch/super_resolution/prepare_dataset.sh
  pyzoo/zoo/examples/orca/learn/pytorch/super_resolution/super_resolution.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: examples, orca, pytorch

#3376 [WIP] Colab-user-guide
  readthedocs/source/doc/UserGuide/colab.md
  readthedocs/source/doc/UserGuide/notebooks.md
Labels: document

#3412 Add Ray User Guide
  readthedocs/source/doc/UserGuide/hadoop.md
  readthedocs/source/doc/UserGuide/python.md
  readthedocs/source/doc/UserGuide/ray.md
  readthedocs/source/index.rst
Labels: document, ray
