Repository intel-analytics/analytics-zoo, pull requests merged in 2021-07, with the labels that each got.

#4133 Add hash encode and filter by frequency
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/zoo/friesian/feature/table.py
Labels: friesian

#4218 fashion_mnist colab examples
  docs/docs/colab-notebook/orca/examples/fashion_mnist_bigdl.ipynb
  docs/docs/colab-notebook/run-notebook-pytorch.sh
Labels: colab, orca

#4249 basic_text_classification colab example
  docs/docs/colab-notebook/orca/examples/basic_text_classification.ipynb
  docs/docs/colab-notebook/run-notebook-tf1.sh
Labels: colab, examples

#4270 Add order_by_freq for generate_string_idx
  pyzoo/zoo/friesian/feature/table.py
  pyzoo/zoo/friesian/feature/utils.py
  zoo/src/main/scala/com/intel/analytics/zoo/friesian/python/PythonFriesian.scala
  zoo/src/test/scala/com/intel/analytics/zoo/friesian/FriesianSpec.scala
Labels: friesian

#4281 Add model_save for Dlrm Preprocessing Example
  pyzoo/zoo/examples/friesian/feature/dlrm/README.md
  pyzoo/zoo/examples/friesian/feature/dlrm/dlrm_preprocessing.py
Labels: friesian

#4284 Super resolution colab example
  docs/docs/colab-notebook/orca/examples/super_resolution.ipynb
  docs/docs/colab-notebook/run-notebook-pytorch.sh
Labels: colab, examples

#4239 Remove the notebook named traffic_impute whose function is replaced by tsdata
  apps/run-app-tests-pip.sh
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_impute.ipynb
Labels: chronos

#4297 Chronos: Add one-hot-encode option for gen_dt_feature
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_feature.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/feature.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_model_forecasting.ipynb
Labels: chronos

#4236 TSDataset deduplicate method speed up
  pyzoo/zoo/chronos/data/tsdataset.py
Labels: chronos

#4332 Chronos: fix broken notebook
  pyzoo/zoo/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
Labels: chronos

#4324 Chronos/Automl: fix pip install analytics-zoo[automl]
  pyzoo/setup.py
Labels: automl, chronos

#4322 Chronos: fix onnx inference oom problem by adding batch_size
  pyzoo/zoo/automl/model/base_pytorch_model.py
Labels: chronos

#4340 Chronos: add TCN init option and seed option
  pyzoo/zoo/chronos/model/forecast/tcn_forecaster.py
  pyzoo/zoo/chronos/model/tcn.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: chronos

#4336 Add string type option in convert_row_to_numpy
  pyzoo/test/zoo/orca/learn/ray/tf/test_tf_ray_estimator.py
  pyzoo/zoo/orca/learn/tf2/estimator.py
  pyzoo/zoo/orca/learn/utils.py
  pyzoo/zoo/util/utils.py
Labels: orca

#4316 auto seq2seq model for autots
  pyzoo/test/zoo/chronos/autots/model/test_auto_seq2seq.py
  pyzoo/zoo/chronos/autots/model/auto_seq2seq.py
Labels: chronos

#4353 Chronos: fix notebook path name
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: bug, chronos

#4243 TSDataset impute/resample/gen_dt_feature method speed up
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_resample.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/resample.py
Labels: chronos

#4341 Fix copywarning of gen_dt_feature
  pyzoo/zoo/chronos/data/utils/feature.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: chronos

#4359 Add auto seq2seq model to autots estimator
  docs/readthedocs/source/doc/PythonAPI/Chronos/autotsestimator.rst
  pyzoo/test/zoo/chronos/autots/experimental/test_autotstrainer.py
  pyzoo/test/zoo/chronos/autots/model/test_auto_seq2seq.py
  pyzoo/zoo/chronos/autots/experimental/autotsestimator.py
  pyzoo/zoo/chronos/autots/model/__init__.py
  pyzoo/zoo/chronos/autots/model/auto_lstm.py
  pyzoo/zoo/chronos/autots/model/auto_seq2seq.py
  pyzoo/zoo/chronos/autots/model/auto_tcn.py
Labels: chronos

#4354 Chronos: add distributed api to TCNForecaster
  docs/docs/colab-notebook/chronos/chronos_nyc_taxi_tsdataset_forecaster.ipynb
  pyzoo/test/zoo/chronos/model/forecast/test_tcn_forecaster.py
  pyzoo/zoo/automl/model/base_pytorch_model.py
  pyzoo/zoo/chronos/model/forecast/tcn_forecaster.py
  pyzoo/zoo/chronos/model/forecast/utils.py
  pyzoo/zoo/chronos/model/tcn.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: chronos

#4051 FeatureTable TargetEncode
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/zoo/friesian/feature/__init__.py
  pyzoo/zoo/friesian/feature/table.py
  pyzoo/zoo/friesian/feature/utils.py
Labels: friesian

#4334 Chronos: default autotsest search space
  pyzoo/test/zoo/chronos/autots/experimental/test_autotsestimator.py
  pyzoo/zoo/chronos/autots/experimental/autotsestimator.py
  pyzoo/zoo/chronos/autots/model/__init__.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_autots_forecasting_experimental.ipynb
Labels: chronos

#4382 Chronos: rename the notebook path
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_autots_forecasting_experimental.ipynb
Labels: bug, chronos

#4038 FeatureTable difference_lag
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/zoo/friesian/feature/table.py
  pyzoo/zoo/friesian/feature/utils.py
Labels: friesian

#4348 add onnx methods for autots pipeline
  pyzoo/test/zoo/chronos/autots/experimental/test_autotsestimator.py
  pyzoo/zoo/chronos/autots/experimental/tspipeline.py
Labels: chronos
