Repository intel-analytics/analytics-zoo, pull requests merged in 2021-09, with the labels that each got.

#4608 Chronos: fix Prophet on jenkins (MAC-ONLY)
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction_prophet.ipynb
Labels: bug, chronos

#4640 fix bug in pytorch base model error message
  pyzoo/zoo/automl/model/base_pytorch_model.py
Labels: automl

#4620 Chronos: change logger to torch tensorboard interface from tensorboardx
  pyzoo/test/zoo/automl/logger/test_tensorboardlogger.py
  pyzoo/zoo/automl/logger/__init__.py
  pyzoo/zoo/automl/logger/tensorboardlogger.py
  pyzoo/zoo/automl/search/ray_tune_search_engine.py
Labels: automl, chronos

#4629 Chronos: add base model and post fit methods to automodel(autotcn, autos2s, autolstm)
  pyzoo/test/zoo/chronos/autots/model/test_auto_lstm.py
  pyzoo/test/zoo/chronos/autots/model/test_auto_seq2seq.py
  pyzoo/test/zoo/chronos/autots/model/test_auto_tcn.py
  pyzoo/zoo/chronos/autots/model/auto_lstm.py
  pyzoo/zoo/chronos/autots/model/auto_seq2seq.py
  pyzoo/zoo/chronos/autots/model/auto_tcn.py
  pyzoo/zoo/chronos/autots/model/base_automodel.py
Labels: chronos

#4623 Chronos: fix resample drop non-numeric columns
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
Labels: chronos

#4659 fix recipe import in autoprophet notebook
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction_prophet.ipynb
Labels: bug, chronos

#4599 Chronos: Porting the Visual tensorboard of the old version of doc
  docs/readthedocs/source/doc/Chronos/Image/automl_hparams.png
  docs/readthedocs/source/doc/Chronos/Image/automl_monitor.png
  docs/readthedocs/source/doc/Chronos/Image/automl_scalars.png
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
Labels: document, chronos

#4625 Chronos: Add column name rules in doc
  pyzoo/zoo/chronos/data/tsdataset.py
Labels: chronos

#4666 Chronos: Auto Model API doc
  docs/readthedocs/source/doc/PythonAPI/Chronos/automodels.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/autots.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/autotsestimator.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/index.rst
  pyzoo/zoo/chronos/autots/model/base_automodel.py
Labels: document, chronos

#4527 Chronos: Add unsorted warn of dt_col in tsdata
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/utils.py
Labels: chronos

#4609 Chronos: add YEAR feature in tsdata.gen_dt_feature.
  pyzoo/test/zoo/chronos/data/test_tsdataset.py
  pyzoo/test/zoo/chronos/data/utils/test_feature.py
  pyzoo/zoo/chronos/data/tsdataset.py
  pyzoo/zoo/chronos/data/utils/feature.py
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_autots_forecasting_experimental.ipynb
Labels: chronos

#4654 Chronos: Add ut for repo dataset
  pyzoo/test/zoo/chronos/data/test_repo_dataset.py
  pyzoo/test/zoo/chronos/data/utils/test_public_dataset.py
  pyzoo/zoo/chronos/data/repo_dataset.py
  pyzoo/zoo/chronos/data/utils/public_dataset.py
Labels: chronos

#4677 notebook time optimization(jenkins)
  apps/run-app-tests-pip.sh
Labels: bug, chronos

#4705 Chronos: userguide revision(Forecaster, TSDataset, Useful functionalities)
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/index.rst
Labels: document, chronos

#4733 Doc: fix error link(chronos-autotsest-quickstart.md)
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-tsdataset-forecaster-quickstart.md
Labels: bug, document, chronos

#4729 Chronos: Simulator(DPGANSimulator) first push
  pyzoo/zoo/chronos/simulator/__init__.py
  pyzoo/zoo/chronos/simulator/doppelganger/__init__.py
  pyzoo/zoo/chronos/simulator/doppelganger/data_module.py
  pyzoo/zoo/chronos/simulator/doppelganger/doppelganger.py
  pyzoo/zoo/chronos/simulator/doppelganger/doppelganger_pl.py
  pyzoo/zoo/chronos/simulator/doppelganger/loss.py
  pyzoo/zoo/chronos/simulator/doppelganger/network.py
  pyzoo/zoo/chronos/simulator/doppelganger/op.py
  pyzoo/zoo/chronos/simulator/doppelganger/output.py
  pyzoo/zoo/chronos/simulator/doppelganger/util.py
  pyzoo/zoo/chronos/simulator/doppelganger_simulator.py
Labels: chronos

#4795 Chronos: Example notebook list on user guide
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, chronos

#4765 Chronos: add DPGANSimulator example
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  pyzoo/zoo/chronos/examples/simulator/dpgansimulator_wwt.py
  pyzoo/zoo/chronos/examples/simulator/readme.md
  pyzoo/zoo/chronos/simulator/doppelganger/network.py
  pyzoo/zoo/chronos/simulator/doppelganger_simulator.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos, examples

#4820 Chronos: Add simulator to Chronos API
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/doc/PythonAPI/Chronos/index.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/simulator.rst
  pyzoo/zoo/chronos/simulator/doppelganger_simulator.py
Labels: document, chronos

#4828 Chronos: user entrance name change
  docs/docs/Chronos/API/TCMFForecaster.md
  docs/docs/Chronos/tutorials/LSTMForecasterAndMTNetForecaster.md
  docs/docs/Chronos/tutorials/TCMFForecaster.md
  docs/docs/colab-notebook/chronos/chronos_minn_traffic_anomaly_detector.ipynb
  docs/docs/colab-notebook/chronos/chronos_nyc_taxi_tsdataset_forecaster.ipynb
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-anomaly-detector.md
  docs/readthedocs/source/doc/PythonAPI/Chronos/anomaly_detectors.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
  pyzoo/dev/run-pytests-horovod-pytorch
  pyzoo/test/zoo/chronos/detector/__init__.py
  pyzoo/test/zoo/chronos/detector/anomaly/test_ae_detector.py
  pyzoo/test/zoo/chronos/detector/anomaly/test_dbscan_detector.py
  pyzoo/test/zoo/chronos/detector/anomaly/test_th_detector.py
  pyzoo/test/zoo/chronos/forecaster/test_arima_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_lstm_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_mtnet_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_prophet_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_seq2seq_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_tcmf_forecaster.py
  pyzoo/test/zoo/chronos/forecaster/test_tcn_forecaster.py
  pyzoo/zoo/chronos/detector/__init__.py
  pyzoo/zoo/chronos/detector/anomaly/__init__.py
  pyzoo/zoo/chronos/detector/anomaly/abstract.py
  pyzoo/zoo/chronos/detector/anomaly/ae_detector.py
  pyzoo/zoo/chronos/detector/anomaly/dbscan_detector.py
  pyzoo/zoo/chronos/detector/anomaly/th_detector.py
  pyzoo/zoo/chronos/detector/anomaly/util.py
  pyzoo/zoo/chronos/examples/auto_model/autoprophet_nyc_taxi.py
  pyzoo/zoo/chronos/examples/tcmf/run_electricity.py
  pyzoo/zoo/chronos/forecaster/__init__.py
  pyzoo/zoo/chronos/forecaster/abstract.py
  pyzoo/zoo/chronos/forecaster/arima_forecaster.py
  pyzoo/zoo/chronos/forecaster/base_forecaster.py
  pyzoo/zoo/chronos/forecaster/lstm_forecaster.py
  pyzoo/zoo/chronos/forecaster/mtnet_forecaster.py
  pyzoo/zoo/chronos/forecaster/prophet_forecaster.py
  pyzoo/zoo/chronos/forecaster/seq2seq_forecaster.py
  pyzoo/zoo/chronos/forecaster/tcmf_forecaster.py
  pyzoo/zoo/chronos/forecaster/tcn_forecaster.py
  pyzoo/zoo/chronos/forecaster/tfpark_forecaster.py
  pyzoo/zoo/chronos/forecaster/utils.py
  pyzoo/zoo/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised.ipynb
  pyzoo/zoo/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction.ipynb
  pyzoo/zoo/chronos/use-case/fsi/stock_prediction_prophet.ipynb
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_model_forecasting.ipynb
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: chronos

#4817 Chronos: update example autolstm_nyc_taxi
  pyzoo/zoo/chronos/examples/auto_model/README.md
  pyzoo/zoo/chronos/examples/auto_model/autolstm_nyc_taxi.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos, examples

#4749 Chronos: add distributed training example
  pyzoo/zoo/chronos/data/utils/public_dataset.py
  pyzoo/zoo/chronos/examples/distributed/README.md
  pyzoo/zoo/chronos/examples/distributed/distributed_training_network_traffic.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos, examples

#4824 Chronos: add simulator to user guide
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, chronos

#4742 Fix jenkins timeout error(notebook)
  apps/run-app-tests-pip.sh
Labels: bug, chronos

#4703 Chronos: Add example for onnx
  pyzoo/zoo/chronos/examples/onnx/README.md
  pyzoo/zoo/chronos/examples/onnx/onnx_autotsestimator_nyc_taxi.py
  pyzoo/zoo/chronos/examples/onnx/onnx_forecaster_network_traffic.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos, examples

#4855 Chronos: del quickstart example(autots)
  pyzoo/zoo/chronos/examples/quickstart/autots_nyc_taxi.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: chronos

#4850 Chronos: add ut for doppelganger_simulator
  pyzoo/test/zoo/chronos/simulator/__init__.py
  pyzoo/test/zoo/chronos/simulator/test_doppelganger_simulator.py
Labels: chronos

#4838 Chronos: Autotsest notebook (custom model)
  apps/run-app-tests-pip.sh
  pyzoo/zoo/chronos/use-case/network_traffic/network_traffic_autots_customized_model.ipynb
Labels: chronos
