Repository intel-analytics/analytics-zoo, pull requests merged in 2021-04, with the labels that each got.

#3633 Add MPI support for Pytorch distributed training
  pyzoo/zoo/orca/learn/mpi/__init__.py
  pyzoo/zoo/orca/learn/mpi/mpi_estimator.py
  pyzoo/zoo/orca/learn/mpi/mpi_runner.py
  pyzoo/zoo/orca/learn/mpi/mpi_train.py
  pyzoo/zoo/orca/learn/mpi/utils.py
Labels: recommendation

#3697 add MSE metric for bigdl backend
  pyzoo/zoo/orca/learn/metrics.py
  pyzoo/zoo/pipeline/api/keras/metrics.py
  pyzoo/zoo/pipeline/api/keras/utils.py
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/api/keras/metrics/MSE.scala
  zoo/src/main/scala/com/intel/analytics/zoo/pipeline/api/keras/python/PythonZooKeras.scala
  zoo/src/test/scala/com/intel/analytics/zoo/pipeline/api/keras/metrics/MSESpec.scala
Labels: enhancement

#3588 spark-dataframe.md
  docs/docs/colab-notebook/orca/quickstart/ncf_dataframe.ipynb
  docs/readthedocs/source/doc/UseCase/spark-dataframe.md
  docs/readthedocs/source/doc/UserGuide/notebooks.md
Labels: document

#3692 xshards-pandas.md
  docs/docs/colab-notebook/orca/quickstart/ncf_xshards_pandas.ipynb
  docs/readthedocs/source/doc/UseCase/xshards-pandas.md
Labels: document

#3625 Orca pytorch cifar
  pyzoo/zoo/examples/orca/learn/pytorch/cifar10/README.md
  pyzoo/zoo/examples/orca/learn/pytorch/cifar10/cifar10.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: orca

#3640 Orca pytorch fashion_mnist
  pyzoo/zoo/examples/orca/learn/pytorch/cifar10/cifar10.py
  pyzoo/zoo/examples/orca/learn/pytorch/fashion_mnist/README.md
  pyzoo/zoo/examples/orca/learn/pytorch/fashion_mnist/fashion_mnist.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-jep.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: orca

#3714 Orca pytorch superresolution
  pyzoo/zoo/examples/orca/learn/pytorch/super_resolution/README.md
  pyzoo/zoo/examples/orca/learn/pytorch/super_resolution/super_resolution.py
  pyzoo/zoo/examples/run-example-test-ray.sh
  pyzoo/zoo/examples/run-example-tests-jep.sh
  pyzoo/zoo/examples/run-example-tests-pip-ray.sh
Labels: orca

#3766 Friesian FeatureTable Operations
  pyzoo/dev/run-pytests
  pyzoo/dev/run-pytests-friesian
  pyzoo/test/zoo/friesian/feature/test_table.py
  pyzoo/zoo/__init__.py
  pyzoo/zoo/friesian/feature/table.py
  pyzoo/zoo/friesian/feature/utils.py
  pyzoo/zoo/util/engine.py
  zoo/pom.xml
  zoo/src/main/scala/com/intel/analytics/zoo/friesian/feature/Utils.scala
  zoo/src/main/scala/com/intel/analytics/zoo/friesian/python/PythonFriesian.scala
  zoo/src/test/scala/com/intel/analytics/zoo/friesian/FriesianSpec.scala
Labels: friesian
